In [1]:
import sqlite3
import pandas as pd

con = sqlite3.connect("example.db")

In [2]:
cur = con.cursor()

In [3]:
df1 = pd.read_csv("./df_khan.csv")
df2 = pd.read_csv("./df_ebs.csv")

In [4]:
df1.to_sql("khan", con)
df2.to_sql("ebs", con)

con.close()

In [58]:
con = sqlite3.connect("example.db")
df_k = pd.read_sql("select *from khan", con)
con.close()

In [59]:
df_k

,index,name,태그,text,강의,태그1,태그2,태그3
0,0,Video_ Comparing numbers of objects.txt,"[0, 23]",이 텍스트를 한국어로 번역: \n\nGavin은 이런 말들이 있습니다. 아래의 각 ...,1강,0,23.0,NaN
1,1,Video_ Comparing numbers on the number line.txt,"[0, 22]",어떤 숫자들이 6보다 큰가요? 모두 선택해 보세요. 그래서 여기 수직선에서 6을 볼...,2강,0,22.0,NaN
2,2,Video_ Counting by category.txt,"[0, 23, 22]","우리는 별, 숫자, 또는 글자를 가장 많이 세어 봅시다. 이것을 한 번 보겠습니다....",3강,0,23.0,22.0
3,3,Video_ Counting in pictures.txt,"[0, 23]","이 사진에 얼마나 많은 사람들이 보이나요? 보세요, 저는 하나, 둘, 셋, 넷, 다...",4강,0,23.0,NaN
4,4,Video_ Counting objects 1.txt,"[0, 11]","어떤 상자에 12마리의 고래가 있는지요? 그래, 이런 이 녹색 상자를 보세요, 한번...",5강,0,11.0,NaN
...,...,...,...,...,...,...,...,...
79,79,y2mate.com - Transformations dilation_720pFH.txt,"[15, 13, 14, 16]",이전 비디오에서 우리는 변형에 대한 아이디어를 이야기하기 시작했습니다. 특히 우리는...,80강,15,13.0,14.0
80,80,y2mate.com - Understanding place value when ad...,"[0, 1, 7]",그래서 이 것이 바로 소수 37을 표현하는 한 가지 방법입니다. 숫자 37에는 십의...,81강,0,1.0,7.0
81,81,y2mate.com - Understanding place value when su...,"[0, 2]","여기에는 65개의 블록이 있습니다. 직접 세어보실 수도 있지만, 우리는 이를 숫자 ...",82강,0,2.0,NaN
82,82,y2mate.com - Understanding place value while s...,"[0, 2]",그래서 바로 여기에 우리는 숫자 46을 가지고 있습니다. 십의 자리에는 4가 있습니...,83강,0,2.0,NaN
83,83,y2mate.com - Why a negative times a negative i...,"[3, 0]","당신이 고대 철학자이며, 수학을 처음부터 쌓아가고 있다고 가정합시다. 부정수가 무엇...",84강,3,0.0,NaN

In [5]:
import sqlite3
import pandas as pd

# 라벨 딕셔너리 정의
labels_dict = {
    "수": 0,
    "덧셈": 1,
    "뺄셈": 2,
    "곱셈": 3,
    "나눗셈": 4,
    "분수": 5,
    "소수": 6,
    "소수점": 7,
    "길이": 8,
    "시간": 9,
    "화폐": 10,
    "측정": 11,
    "각도": 12,
    "평면도형": 13,
    "입체도형": 14,
    "도형": 15,
    "대칭": 16,
    "원": 17,
    "직각": 18,
    "비율": 19,
    "비례식": 20,
    "비": 21,
    "그래프": 22,
    "통계": 23,
    "확률": 24,
    "약수": 25,
    "배수": 26,
    "함수": 27,
    "미지수": 28,
    "규칙": 29,
}


def get_label_number(key):
    # 딕셔너리에서 키에 해당하는 값을 반환
    return labels_dict.get(key, "키가 존재하지 않습니다.")


# 입력 예시
key_to_lookup = input("조회할 키를 입력하세요: ")
label_number = get_label_number(key_to_lookup)


def query_with_value(database_path, value):
    # 데이터베이스에 연결
    conn = sqlite3.connect(database_path)

    # SQL 쿼리 작성 (태그1, 태그2, 태그3 열에 특정 값이 포함된 행을 조회)
    query = f"""
    SELECT name, text
    FROM khan
    WHERE 태그1 = {value} OR 태그2 = {value} OR 태그3 = {value}
    """

    # 쿼리 실행 및 데이터프레임으로 변환
    df_result = pd.read_sql_query(query, conn)

    # 연결 종료
    conn.close()

    # 결과 반환
    return df_result


# 사용 예시
database_path = "example.db"
value_to_search = label_number  # 찾을 값
df_result = query_with_value(database_path, value_to_search)

# 결과 출력
print(df_result)

                                                name  \
0  y2mate.com - Fractiondecimal intuition problem...
1  y2mate.com - Identifying hundredths on a numbe...
2  y2mate.com - Rewriting fractions as decimals M...
3  y2mate.com - Understanding place value when ad...

                                                text
0  우리는 아래의 사각형이 하나의 구멍을 나타낸다고 가정한다. 따라서 이 큰 사각형은 ...
1  숫자선상에서의 점은 어디에 있나요? 여기에는 1.5 또는 1.5 십분의 1부터 1....
2  이 텍스트를 한국어로 번역하겠습니다. 29백분의1을 소수로 표현해봅시다. 그러므로 ...
3  그래서 이 것이 바로 소수 37을 표현하는 한 가지 방법입니다. 숫자 37에는 십의...

In [6]:
import sqlite3
import pandas as pd

# 라벨 딕셔너리 정의
labels_dict = {
    "수": 0,
    "덧셈": 1,
    "뺄셈": 2,
    "곱셈": 3,
    "나눗셈": 4,
    "분수": 5,
    "소수": 6,
    "소수점": 7,
    "길이": 8,
    "시간": 9,
    "화폐": 10,
    "측정": 11,
    "각도": 12,
    "평면도형": 13,
    "입체도형": 14,
    "도형": 15,
    "대칭": 16,
    "원": 17,
    "직각": 18,
    "비율": 19,
    "비례식": 20,
    "비": 21,
    "그래프": 22,
    "통계": 23,
    "확률": 24,
    "약수": 25,
    "배수": 26,
    "함수": 27,
    "미지수": 28,
    "규칙": 29,
}

def get_label_number(key):
    # 딕셔너리에서 키에 해당하는 값을 반환
    return labels_dict.get(key, "키가 존재하지 않습니다.")
# 입력 예시
key_to_lookup = input("조회할 키를 입력하세요: ")
label_number = get_label_number(key_to_lookup)
def query_with_value(database_path, value):
    # 데이터베이스에 연결
    conn = sqlite3.connect(database_path)
    # SQL 쿼리 작성 (태그1, 태그2, 태그3 열에 특정 값이 포함된 행을 조회)
    query = f"""
    SELECT 강의, text
    FROM ebs
    WHERE 태그1 = {value} OR 태그2 = {value} OR 태그3 = {value}
    """
    # 쿼리 실행 및 데이터프레임으로 변환
    df_result = pd.read_sql_query(query, conn)
    # 연결 종료
    conn.close()
    # 결과 반환
    return df_result

# 사용 예시
database_path = "example.db"
value_to_search = label_number  # 찾을 값
df_result = query_with_value(database_path, value_to_search)

# 결과 출력
print(df_result)

    강의                                               text
0  45강  7종류의 퀴즈 힌트를 찾아가보시죠 可以 하apter 요 sign 여 여 여 여 만남...

In [61]:
conn = sqlite3.connect("example.db")
num = [0, 1]
# SQL 쿼리 작성 (태그 열이 [0, 1]을 포함하는 행을 조회)
query = f"""
SELECT * FROM khan
WHERE json_extract(태그1, '$') = '0'
"""

# 쿼리 실행 및 데이터프레임으로 변환
df_result = pd.read_sql_query(query, conn)

# 연결 종료
conn.close()

# 결과 출력
print(df_result)

Empty DataFrame
Columns: [index, name, 태그, text, 강의, 태그1, 태그2, 태그3]
Index: []

In [34]:
conn = sqlite3.connect("example.db")

# SQL 쿼리 작성 (태그 열이 [0, 1]을 포함하는 행을 조회)
query = f"""
SELECT * FROM khan_table
WHERE json_extract(태그, '$') = '[0, 1]'
"""

# 쿼리 실행 및 데이터프레임으로 변환
df_result = pd.read_sql_query(query, conn)

# 연결 종료
conn.close()

# 결과 출력
print(df_result)

Empty DataFrame
Columns: [index, name, 태그, content]
Index: []

In [19]:
# 데이터베이스에 연결
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 테이블 생성 (영상 데이터를 저장할 BLOB 필드 포함)
cursor.execute(
    """
CREATE TABLE IF NOT EXISTS video_files (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    video BLOB
)
"""
)


# 영상 파일을 읽어 BLOB 데이터로 변환
def read_video_file(file_path):
    with open(file_path, "rb") as file:
        return file.read()


# 영상 파일을 데이터베이스에 저장
file_path = "./khan_academy_kids/Video_ Comparing numbers of objects.mp4"
video_data = read_video_file(file_path)
cursor.execute(
    "INSERT INTO video_files (name, video) VALUES (?, ?)", ("video.mp4", video_data)
)

# 변경사항 저장 및 연결 종료
conn.commit()
conn.close()

print("영상 파일이 데이터베이스에 저장되었습니다.")

영상 파일이 데이터베이스에 저장되었습니다.

In [21]:
!pip install opencv-python

Collecting opencv-python
  Using cached opencv_python-4.10.0.84-cp37-abi3-win_amd64.whl.metadata (20 kB)
Requirement already satisfied: numpy>=1.17.0 in c:\users\user\desktop\chunjae_edu\.conda\lib\site-packages (from opencv-python) (1.24.4)
Using cached opencv_python-4.10.0.84-cp37-abi3-win_amd64.whl (38.8 MB)
Installing collected packages: opencv-python
Successfully installed opencv-python-4.10.0.84

In [26]:
import sqlite3
import numpy as np
import cv2
import tempfile
import shutil

# 데이터베이스에 연결
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 쿼리 작성 (예: ID가 1인 비디오 파일을 조회)
query = "SELECT video FROM video_files WHERE name = ?"
video_name = "video.mp4"  # 조회할 비디오 파일의 이름

# 쿼리 실행
cursor.execute(query, (video_name,))
result = cursor.fetchone()

if result:
    video_data = result[0]

    # 임시 파일에 비디오 데이터 저장
    with tempfile.NamedTemporaryFile(delete=False, suffix=".mp4") as temp_file:
        temp_file.write(video_data)
        temp_file_path = temp_file.name

    # OpenCV를 사용하여 비디오 파일 읽기
    cap = cv2.VideoCapture(temp_file_path)

    if not cap.isOpened():
        print("비디오 파일을 열 수 없습니다.")
    else:
        while True:
            ret, frame = cap.read()
            if not ret:
                break

            # 비디오 프레임을 표시
            cv2.imshow("Video", frame)

            # 'q' 키를 눌러 비디오 창 닫기
            if cv2.waitKey(30) & 0xFF == ord("q"):
                break

        cap.release()
        cv2.destroyAllWindows()

    # 임시 파일 삭제
    os.remove(temp_file_path)
else:
    print("해당 이름의 비디오 파일이 없습니다.")

# 연결 종료
conn.close()

KeyboardInterrupt:

In [24]:
import sqlite3

# 데이터베이스에 연결
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

# 비디오 파일의 메타데이터를 조회하는 쿼리
query = "SELECT id, name FROM video_files"

# 쿼리 실행
cursor.execute(query)
results = cursor.fetchall()

# 결과 출력
for row in results:
    print(f"ID: {row[0]}, Name: {row[1]}")

# 연결 종료
conn.close()

ID: 1, Name: video.mp4